.App {
  max-width: 900px;
  margin: 0 auto;
  background: #417CC9;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.search-type-container {
  display: flex;
}

.header {
  text-align: center;
  font-size: 30px;
  padding: 30px;
  color: white;
  font-weight: 500;
}

@media ( max-width: 600px ) {
  .search-type-container {
    flex-direction: column-reverse;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
